.landing {
    padding: 2rem;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo-landing {
    width: 200px;
    height: 200px;
}